.wrapper-dashboard{
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    background-color: var(--secondary-theme-color);
}



/* recipe creation form */
.wrapper-recipe-form{
    width: 100%;
    max-width: 1160px;
    padding: 2rem;
    background-color: var(--secondary-theme-color);
}
#recipe-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.recipe-form-cr{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recipe-form-cr label{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--primary-font);
}
.recipe-inp-box{
    padding: 8px 16px;
    border: 1px solid #cdcfd5;
    border-radius: 6px;
}

.ingredient-list, .instruction-list{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex-shrink: 0;
}

.ingredient-list li, .instruction-list li{
    display: flex;
    width: 100%;
    
    border: 1px solid #cdcfd5;
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
}

.ingredient-list input[type="text"], .instruction-list input[type="text"]{
    flex: 1;
    border: none;
    padding: 8px 16px;
    background-color: transparent;
}


.ingredient-list input[type="button"], .instruction-list input[type="button"]{
    
    padding: 5px 10px;
    background-color: rgb(255, 59, 59);
    color: white;
    font-weight: bold;
    border:none;
}

/* Dashboard my Recipe list */
.recipe-list-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.recipe-list-header input{
     padding: 5px 10px;
    background-color: rgb(0, 223, 37);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:none;
    border-radius: 5px;
}

.recipe-list-body{
    margin-top: 10px;
}


.recipe-dashboard-card{
    width: 100%;
    display: flex;
    
    gap: 15px;
    padding: 10px;
    border: 2px solid #07070746;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.recipe-dashboard-card-img{
    max-width: 50px;
}
.recipe-dashboard-card-body{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.recipe-dashboard-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-dashboard-card-info h3{
    font-size: 1.5rem;
}
.recipe-dashboard-card-info p{
    font-size: 1.2rem;
}
.recipe-dashboard-card-buttons{
    display: flex;
    align-items: end;
    gap: 5px;
}
.recipe-dashboard-card-buttons button{
    padding: 5px 10px;
    background-color: rgb(255, 59, 59);
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.recipe-dashboard-card-buttons button:first-child{
    background-color: rgb(0, 223, 37);
}

.recipe-form-img-file-cont img{
    width: 50px;
    height: auto;
    display: inline-block;
}






.my-profile-image{
    width: 100px;
    height: 100px;
    background-color: aqua;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.my-profile-head{
    display: flex;
    align-items: center;
    gap: 10px;
}
#my-profile-head-fullname{
    font-size: 1.5rem;
}
#my-profile-head-email{
    color: #686868;
}
.my-profile-head{
    padding: 2rem;
}



.my-profile-body{
    padding: 0 2rem 0 2rem;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-profile-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-profile-inp-single-cont{
    display: flex;
    gap: 5px;
    align-items: center;

}
.my-profile-inp-single-cont label{
    font-size: 1.2rem;
}
.my-profile-inp-single-cont input, .my-profile-inp-single-cont p{
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #eee;
}
.my-profile-save-button input[type="submit"]{
     padding: 10px 15px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #4dc582;
    color: white;
    border: none;
    cursor: pointer;
}