.wrapper-dashboard{
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    background-color: var(--secondary-theme-color);
}


/* main{
    max-width: 1160px;
    gap: 10px;
} */
main::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-theme-color);
    top: 0;
}


.dashboard-sidebar-container{
    width: 20%;
    position: relative;
    height: 100%;
}
.wrapper-main-container{
    width: 80%;
    position: relative;
}




/* For dashboard sidebar */
.dashboard-sidebar-options-container{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 5px;
}
.db-sidebar-opt{
    font-size: 1.1rem;
    background-color: var(--primary-theme-color);
    padding: 10px;
    cursor: pointer;
    color: white;
}
.dashboard-sidebar-container::after{
    content: "";
    height: 100%;
    width: 3px;
    background-color: var(--secondary-theme-color);
    position: absolute;
    right: 0;
    top: 0;
}

.db-sidebar-opt-active{
    background-color: white;
    color: var(--primary-theme-color);
}


/* recipe creation form */
#recipe-creation-form{
    position: absolute;
    top: 10%;
    z-index: 1;
}



.wrapper-recipe-form{
    width: 100%;
    /* max-width: 1160px; */
    padding: 2rem;
    background-color: var(--secondary-theme-color);
}
#recipe-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.recipe-form-cr{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recipe-form-cr label{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--primary-font);
}
.recipe-inp-box{
    padding: 8px 16px;
    border: 1px solid #cdcfd5;
    border-radius: 6px;
}

.ingredient-list, .instruction-list{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    flex-shrink: 0;
}

.ingredient-list li, .instruction-list li{
    display: flex;
    width: 100%;
    
    border: 1px solid #cdcfd5;
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
}

.ingredient-list input[type="text"], .instruction-list input[type="text"]{
    flex: 1;
    border: none;
    padding: 8px 16px;
    background-color: transparent;
}


.ingredient-list input[type="button"], .instruction-list input[type="button"]{
    
    padding: 5px 10px;
    background-color: rgb(255, 59, 59);
    color: white;
    font-weight: bold;
    border:none;
}

/* Dashboard my Recipe list */
.recipe-list-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.recipe-list-header input{
    padding: 5px 10px;
    background-color: rgb(0, 223, 37);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.recipe-list-body{
    margin-top: 10px;
}


.recipe-dashboard-card{
    width: 100%;
    display: flex;
    
    gap: 15px;
    padding: 10px;
    border: 2px solid #07070746;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.recipe-dashboard-card-img{
    max-width: 50px;
}
.recipe-dashboard-card-body{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.recipe-dashboard-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-dashboard-card-info h3{
    font-size: 1.5rem;
}
.recipe-dashboard-card-info p{
    font-size: 1.2rem;
}
.recipe-dashboard-card-buttons{
    display: flex;
    align-items: end;
    gap: 5px;
}
.recipe-dashboard-card-buttons button{
    padding: 5px 10px;
    background-color: rgb(255, 59, 59);
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.recipe-dashboard-card-buttons .recipe-dashboard-card-edit-btn{
    background-color: rgb(0, 223, 37);
}

.recipe-form-img-file-cont img{
    width: 50px;
    height: auto;
    display: inline-block;
}





/* For dahsboard my profile */
.my-profile-head{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2rem;
}
.my-profile-image{
    width: 100px;
    height: 100px;
    background-color: aqua;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
}

#profile-pic{
    display: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#profile-pic-file-input-cont{
    position: absolute;
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    background-color: #4dc582;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-pic-file-input{
    display: none;
}

#my-profile-head-fullname{
    font-size: 1.5rem;
}
#my-profile-head-email{
    color: #686868;
}




.my-profile-body{
    padding: 0 2rem 0 2rem;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-profile-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-profile-inp-single-cont{
    display: flex;
    gap: 5px;
    align-items: center;

}
.my-profile-inp-single-cont label{
    font-size: 1.2rem;
}
.my-profile-inp-single-cont input, .my-profile-inp-single-cont p{
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #eee;
}
.my-profile-save-button input[type="submit"]{
     padding: 10px 15px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #4dc582;
    color: white;
    border: none;
    cursor: pointer;
}


/* for dashboard section */
.dashboard-sec-wrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}
.dashboard-sec-wrapper label{
    font-size: 1.6rem;
    font-weight: bold;
}
.dashboard-sec-wrapper p{
    font-size: 1.6rem;
}
.total-recipe-container, .total-whishlist-container{
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgb(139, 139, 139);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #eee;
    border-radius: 10px;
}



/* for option hide visible */
.db-sec-container{
    display: none;
}

.db-sec-active{
    display: flex;
}

.db-body-blur::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #68686862;
    position: absolute;
    top: 0;
    z-index: 0;

}