.creator-profile-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-profile-img-container{
    max-width: 200px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 50%;
    font-size: 3rem;
}

.creator-profile-img-container img{
    /* display: none; */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#creator-profile-fullname{
    font-size: 2rem;

}
.creator-profile-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.creator-profile-body .recipe-card-container{
    margin-top: 30px;
}