
.recipe-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.recipe-card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(139, 139, 139);
    
    border-radius: 10px;
    overflow: hidden;
}

.recipe-card-img-container{
    
    
}

.recipe-card-img-container img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.recipe-card-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.recipe-card-body h3{
    font-size: 1.5rem;
}
.recipe-card-body a{
    color: black;
}
.recipe-card-body a:hover{
    color: var(--primary-theme-color);
}
.recipe-card-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipe-card-user-fullname{
    font-size: 1.1rem;
}
.recipe-card-user-img-cont{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.recipe-card-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}