/* Main content */

.recipe-head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recipe-page-sidebar-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.single-recipe-content-container{
    width: 70%;
}


.single-recipe-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Main content img */
.img_container{
    width: 100%;
    height: 500px;
}
.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* Main content info */
.breadcrumbs{
    display: flex;
    justify-content: start;
    width: 100%;
}
.breadcrumbs ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
    align-items: center;
    
}
.breadcrumbs ul li:not(:last-child)::after{
    content: ">>";
    font-size: 1.2rem;
    margin-left: 8px;
}

.breadcrumbs ul li:last-child a{
    color: var(--primary-theme-color);
}

.recipe-title{
    width: 100%;
    text-align: start;
    font-size: 3rem;
    margin-left: -2px;
    
}
.recipe-meta-data{
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: start;
    padding-bottom: 10px;
}
.recipe-meta-data div{
    display: flex;
    gap: 3px;
    align-items: center;
}


.recipe-page-top{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.recipe-page-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
}

.recipe-page-body-top{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-top: 20px;
}

.recipe-time-serve-cont{
    display: flex;
}
.recipe-time-serve-cont div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
}
.recipe-time-serve-cont div:not(:last-child){
    border-right: 3px solid rgb(214, 214, 214);
}

/* Main content checklist */
#instruction_container, #ingredient_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.strike{
    text-decoration: line-through;
}


/* Non user intereaction alert */
.must-log-in-pop-up, .sign-up-box{
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: var(--box-shadow);
    position: absolute;
    z-index: 1000;
    min-width: 250px;
}
.must-log-in-pop-up h3, .sign-up-box h3{
    font-size: 1.3rem;
}
.must-log-in-pop-up p, .sign-up-box p{
    font-size: 1rem;
}
.must-log-in-pop-up a, .sign-up-box a{
    padding: 10px 15px;
    background-color: var(--primary-theme-color);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
.sign-up-box{
    position: relative;
}

/* wishlist */
.wishlist-btn-container{
    position: relative;
    /* width: 100%; */
}
#wishlist-btn{
    padding: 10px 15px;
    background-color: var(--primary-theme-color);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}


/* Comment */
#comment-form{
    padding-bottom: 10px;
}
#comment-input-box{
    width: 100%;
    border: none;
    
    resize: none;
    overflow: hidden;
    height: 30px;
    padding: 10px;
    position: relative;
}
#comment-input-box:focus{
    border: none;
    outline: none;
}

.ii::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: .6s;
}
.ii:focus-within::after{
    width: 100%;
}
.ii{
    position: relative;
    border-bottom: 1px solid black;
}

.comment-form-btn-container{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
    margin-top: 5px;
}
.comment-form-btn-container input{
    padding: 5px;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: .9rem;
}
.comment-form-btn-container input:hover{
    background-color: rgb(226, 226, 226);
    
    color: black;
    
}


#comment-container , .comment-reply-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.comment-reply-container{
    margin-top: 20px;
}
.reply-reply-container{
    position: relative;
}

.comment, .reply{
    display: flex;
    gap: 5px;
}

.comment-head{
    width: 35px;
    height: 35px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.comment-avater{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.comment-full-name{
    font-weight: bold;
}

.comment-footer{
    display: flex;
    gap: 7px;
}

.comment-reply-btn,.reply-reply-btn, .comment-react-btn-container{
    display: flex;
    gap: 3px;
}


/* sidebar recipe */
.sidebar-trending-recipe, .sidebar-recent-recipe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-recipe-card{
    width: 100%;
    display: flex;

    gap: 15px;
    padding: 10px;

    border-radius: 10px;
    
}
.sidebar-recipe-card-img{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    
}
.sidebar-recipe-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* .sidebar-recipe-card-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
} */

.sidebar-recipe-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.sidebar-recipe-card-info h3{
    font-size: 1.4rem;
}
.sidebar-recipe-card-info p{
    font-size: 1.1rem;
}


.sidebar-recipe-card-footer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-recipe-card-footer-img-cont{
    width: 30px;
    height: 30px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* For Mobile */
@media screen and (max-width: 900px){
    .main-with-sidebar{
        flex-direction: column;
        width: 100%;
        padding: 15px;
    }
    .single-recipe-content-container, .recipe-page-sidebar-container{
        width: 100%;
    }
    .recipe-title{

    }
}