.img_container{
   
}
.img_container img{
   height: auto;
    max-width: 450px;
    object-fit: cover;
}
.single-recipe-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#instruction_container, #ingredient_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.recipe-page-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
}

.strike{
    text-decoration: line-through;
}