 <div class="header-wrapper wrapper-main">
    <div class="logo-container"><a href="index.html">MOMS RECIPE</a></div>
    <nav class="header-nav">
        <ul>
            <li><a href="index.html">Home</a></li> 
            <li><a href="recipe.html">Recipies</a></li> 
            <li><a href="about-us.html">About us</a></li> 
        </ul>
    </nav>
    <div class="login-regiser-btn">
        <a href="login.html" id="login-regiser-head-btn"><span class="main-menu-log-icon">Login</span><i class="fa-solid fa-user main-menu-user-icon" title="Dashboard"></i></a>
        <div class="main-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    
</div>